<h4>Parent Component</h4>
<div class="w-50 input-container">
  <div class="w-50 input-container">
    <label>Value 1</label>
    <input type="number" placeholder="Enter value 1" [(ngModel)]="value1">
  </div>
  <div class="w-50 input-container">
    <label>Value 2</label>
    <input type="number" placeholder="Enter value 2" [(ngModel)]="value2">
  </div>
</div>
<div class="action-container">
  <button (click)="getSum()"> Get Output </button>
</div>
<ng-container *ngIf="enableChildComponent">
  <h4>output from Child Component</h4>
  <app-child [valueA]="value1" [valueB]="value2" (subtraction)="valueFromOutput($event)">
  </app-child>
  <div>
    <label>subtracted value of value1 & value2 from child component is {{subtractionValue}}</label>
  </div>
</ng-container>

<h4>Child component</h4>
<app-child #child></app-child>

<div *ngIf="viewChildString">
  {{viewChildString}}
</div>