.w-50 {
    width: 50%;
}

.input-container {
    display: flex;
    justify-content: space-around;
}

.action-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 30px;
}